<!DOCTYPE html>
<html>
<meta name="robots" content="noindex">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    </head>
<body>
    <center><h1>CLASSIFICAÇÃO DE RISCO PARA FLEXIBILIZAÇÃO</h1></center>
    <p><i>Versão: {{versao}}</i></p>
    <hr>
    <h3 style="background-color: gray">RESULTADO</h3>

    <table class="table table-striped">
        <thead>
            <th>Pontuação</th><th>Risco</th><th>Resultado</th>
        </thead>
        <tbody>
            <tr>
                {% if (p1+p2+p3<210) %}
                    <td>{{soma}}</td>
                    <td style="background-color: red;color: white;"><b>CRÍTICO</b></td>
                    <td style="background-color: red;color: white;">Não há evidência favorável para a flexibilização devido aos valores da dimensão 1</td>
                {% elif respostas[8][0]+respostas[8][1]+respostas[8][2]+respostas[8][3]>8 %}
                    <td>{{soma}}</td>
                    <td style="background-color: red;color: white;"><b>CRÍTICO</b></td>
                    <td style="background-color: red;color: white;">Não há evidência favorável para a flexibilização devido aos valores da dimensão 2</td>                
                {% elif soma<=12 %}
                    <td>{{soma}}</td>
                    <td style="background-color: red;color: white;"><b>CRÍTICO</b></td>
                    <td style="background-color: red;color: white;">Não há evidência favorável para a flexibilização</td>
                {% elif 13<=soma<=26 %}
                    <td>{{soma}}</td>
                    <td style="background-color: orange;color: white;"><b>ALTO</b></td>
                    <td style="background-color: orange;color: white;">Atende as condições externas mínimas para flexibilização</td>
                {% elif 27<=soma<=28 %}
                    <td>{{soma}}</td>
                    <td style="background-color: yellow;color: black;"><b>MODERADO</b></td>
                    <td style="background-color: yellow;color: black;">Atende as condições externas e internas mínimas para flexibilização</td>
                {% elif soma>28 %}
                    <td>{{soma}}</td>
                    <td style="background-color: greenyellow;color: black;"><b>BAIXO</b></td>
                    <td style="background-color: greenyellow;color: black;">Possui evidência favorável para a flexibilização</td>
                {% endif %}
            </tr>

        </tbody>

    </table>
    
    <center><h3 style="background-color: gold;">DETALHAMENTO</h3></center>
    <h3 style="background-color: grey;">DIMENSÃO 01 - VACINAÇÃO</h3>
    <table class="table table-striped">
        <thead>
            <th>Pontuação</th><th>Pergunta</th><th>Resultado</th><th>Valor</th>
        </thead>
        <tbody>
            
            <tr>
                <td style="background-color: red; color: white;">Peso 04</td>
                <td>A porcentagem de vacinação dos discentes é igual ou superior a 70%?</td>
                <td><center>{% if p2>=69 %}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
                <td>{{p2}}%</td>
            </tr>

            <tr>
                <td style="background-color: red; color: white;">Peso 04</td>
                <td>A porcentagem de vacinação dos docentes é igual ou superior a 70%?</td>
                <td><center>{% if p1>=69 %}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
                <td>{{p1}}%</td>
            </tr>

            <tr>
                <td style="background-color: red; color: white;">Peso 04</td>
                <td>A porcentagem de vacinação dos técnicos administrativos é igual ou superior a 70%?
                </td>
                <td><center>{% if p3>=69 %}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
                <td>{{p3}}%</td>
            </tr>
        </tbody>
    </table>
    <i>* Considerando as listas de vacinados (divulgadas pelas respectivas prefeituras) dos municípios de Juazeiro do Norte, Crato, Barbalha e Brejo Santo</i>
    <br><a href="https://juazeirodonorte.ce.gov.br/relatorio.php?id=40&rel=" target="_blank">Lista de vacinados Juazeiro do Norte</a>
    <br><a href="https://crato.ce.gov.br/publicacoes.php?grupo=37" target="_blank">Lista de vacinados Crato</a>
    <br><a href="https://barbalha.ce.gov.br/category/covid-19/vacinados/page/4/" target="_blank">Lista de vacinados Barbalha</a>
    <br><a href="https://www.brejosanto.ce.gov.br/vacinometro-oficial/" target="_blank">Lista de vacinados Brejo Santo</a>
    <p>**Listas obtidas do SIGAA - Docentes e TAEs ativos, discentes ativos</p>
    <p style="background-color: aqua;">
        Atualização em: Juazeiro do Norte (11/11/2021), Crato (03/11/2021), Barbalha (24/08/2021), Brejo Santo (11/11/2021) 
    </p>

    <h3 style="background-color: grey;">DIMENSÃO 02 - PROTOCOLO DE BIOSSEGURANÇA (PB)</h3>
    <table class="table table-striped">
        <thead>
            <th>Pontuação</th><th>Pergunta</th><th>Resultado</th>
        </thead>
        <tbody>
            
            <tr>
                <td style="background-color: greenyellow;">Peso 01</td>
                <td>O conjunto de setores complementares e suplementares obteve média ≤ 2 na escala de adequação ao PB?</td>
                <td><center>{% if respostas[8][0]<=2%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
            </tr>

            <tr>
                <td style="background-color: yellow;">Peso 02</td>
                <td>O conjunto de setores administrativos (Reitoria e Pró-reitorias) obteve média ≤ 2 na escala de  adequação  ao PB?</td>
                <td><center>{% if respostas[8][1]<=2%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
            </tr>

            <tr>
                <td style="background-color: orange;">Peso 03</td>
                <td>O conjunto das unidades acadêmicas obteve média ≤ 2  na escala de  adequação  ao PB?</td>
                <td><center>{% if respostas[8][2]<=2%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
            </tr>

            <tr>
                <td style="background-color: red; color: white;">Peso 04</td>
                <td>O conjunto do ambulatório da Famed e os refeirórios universitários obteve média ≤ 2 na escala de  adequação  ao PB?</td>
                <td><center>{% if respostas[8][3]<=2%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
            </tr>

        </tbody>

    </table>
    <p>
        <i>Média ≤ 2 significa que a maioria das respostas tende para SUPERA ou SIM, TOTALMENTE. </i>
    </p>
    <p style="background-color: aqua;">
        Última atualização: {{respostas[0]}}
    </p>

    <h3 style="background-color: grey;">DIMENSÃO 03 - VELOCIDADE DE PROGRESSÃO DE CASOS DE SERVIDORES DA UFCA</h3>
    <table class="table table-striped">
        <thead>
            <th>Pontuação</th><th>Pergunta</th><th>Resultado</th>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: yellow;">Peso 02</td>
                <td>O percentual de servidores da UFCA com diagnóstico de COVID-19 (número de casos confirmados/número total) é compatível (estatisticamente igual ou menor) com o percentual de casos positivos da região do Cariri (casos positivos/população total excluindo servidores da UFCA)?</td>
                <td><center>{% if respostas[7]=='SIM'%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
            </tr>

        </tbody>

    </table>

    <h3 style="background-color: grey;">DIMENSÃO 04 - CAPACIDADE INSTALADA DO SERVIÇO DE SAÚDE</h3>
    <table class="table table-striped">
        <thead>
            <th>Pontuação</th><th>Pergunta</th><th>Resultado</th><th>Valor</th>
        </thead>
        <tbody>
            <tr>
                <td style="background-color:red; color: white;">Peso 04</td>
                <td>Há pelo menos 30% da capacidade de UTI adultas liberadas para atender na região do Cariri?</td>
                <td><center>{% if respostas[1]=='SIM'%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
                <td>{{valores[0]}}%</td>               
            </tr>

            <tr>
                <td style="background-color: orange;">Peso 03</td>
                <td>A ocupação de leitos de UTI COVID está em tendência decrescente nos últimos 14 dias? (Incluindo a possibilidade de fechamento de leitos COVID)</td>
                <td><center>{% if respostas[2]=='SIM'%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
                <td>{{a1s[0]|round(2)}}</td>
            </tr>

            <tr>
                <td style="background-color: orange;">Peso 03</td>
                <td>A taxa de ocupação de leitos de enfermaria COVID está em tendência decrescente nos últimos 14 dias?</td>
                <td><center>{% if respostas[3]=='SIM'%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
                <td>{{a1s[1]|round(2)}}</td>
            </tr>

            <tr>
                <td style="background-color: greenyellow;">Peso 01</td>
                <td>Houve tendência de redução do número de pacientes em regulação (pessoa internada com suspeita ou confirmação de COVID-19 esperando vaga para ser transferida para leito de outra complexidade) nos últimos 14 dias?</td>
                <td><center>{% if respostas[4]=='SIM'%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
                <td>{{a1s[2]|round(2)}}</td>
            </tr>

        </tbody>

    </table>


    <h3 style="background-color: grey;">DIMENSÃO 05 - VELOCIDADE DE PROGRESSÃO DA PANDEMIA</h3>
    <table class="table table-striped">
        <thead>
            <th>Pontuação</th><th>Pergunta</th><th>Resultado</th><th>Valor</th>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: yellow;">Peso 02</td>
                <td>A média móvel de casos com confirmação de COVID-19 está em tendência decrescente nos últimos 14 dias?</td>
                <td><center>{% if respostas[5]=='SIM'%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
                <td>{{a1s[3]|round(2)}}</td>
            </tr>

            <tr>
                <td style="background-color: yellow;">Peso 02</td>
                <td>A média móvel de óbitos com confirmação de COVID-19 está em tendência decrescente nos últimos 14 dias?</td>
                <td><center>{% if respostas[6]=='SIM'%}<p style="background-color: green;color: white;">SIM</p>{%else%}<p style="background-color: red;color: white;">NÃO</p>{%endif%}</center></td>
                <td>{{a1s[4]|round(2)}}</td>
            </tr>

        </tbody>

    </table>

    
    <script>

        MathJax.Hub.Config({
            jax: ["input/TeX","output/HTML-CSS"],
            displayAlign: "left"
        });
        
    </script>

    
    <hr>
    <h2 style="background-color: yellowgreen;">Metodologia</h2>
    <p>
        Soma-se os pesos das respostas "SIM", e de acordo com o somatório, classifica-se a situação do momento
    </p>
    <p>
        <ul>
            <li>De 0 a 12 pontos: Risco Crítico</li>
            <li>De 13 a 26 pontos: Risco Alto</li>
            <li>De 27 a 28 pontos: Risco Moderado</li>
            <li>Maior do que 28 pontos: Risco Baixo</li>
        </ul>
    </p>
    <p>
        Caso a DIMENSÃO 1 ou DIMENSÃO 2 não estejam com todas as respostas SIM, a situação é classificada como CRÍTICA, independente da pontuação. 
    </p>
    <p>
        Cálculo da tendência: <b>Método dos Mínimos quadrados, por regressão linear.</b>
    </p>
    
    <p>Referência: <i>GILAT, Amos; SUBRAMANIAM, Vish. Métodos numéricos para engenheiros e cientistas: uma introdução com aplicações usando o MATLAB. Bookman Editora, 2009.</i>
    </p>
    <hr>
    <h2 style="background-color: yellowgreen;">Coleta de dados</h2>
    <table class="table table-striped">
        <thead>
            <th>Dimensão</th><th>Local de coleta</th><th>Forma de coleta</th><th>Link</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>IntegraSuS</td>
                <td>Automatizada com atualização diária as 5:00AM.</td>
                <td><a href="https://integrasus.saude.ce.gov.br/#/indicadores/indicadores-coronavirus/indice-transparencia">Infraestrutura - Leitos clínicos e UTI (operacionais e ocupados) por unidade de saúde - Covid 19
                </a></td>
            </tr>

            <tr>
                <td>2</td>
                <td>IntegraSuS</td>
                <td>Automatizada com atualização diária as 5:00AM.</td>
                <td><a href="https://integrasus.saude.ce.gov.br/#/indicadores/indicadores-coronavirus/indice-transparencia">Casos - Notificação</a></td>
            </tr>

            <tr>
                <td>3</td>
                <td>Progep</td>
                <td>Manual</td>
                <td>N/A</td>
            </tr>

            <tr>
                <td>4</td>
                <td>Questionário respondido pelos setores</td>
                <td>Semi automatizada (parte manual e parte automática). <br><i>Última atualização: {{respostas[0]}}</i></td>
                <td>N/A</td>
            </tr>
        </tbody>

    </table>

    <hr>

    <h2 style="background-color: yellowgreen;">Código Fonte desta aplicação</h2>
    <a href="https://gitlab.com/rafaelperazzo/cieco">https://gitlab.com/rafaelperazzo/cieco</a>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<hr>
<h2 style="background-color: yellowgreen;">Gráficos</h2>

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>
<script>

Highcharts.chart('container', {
    chart: {
        type: 'spline'
    },
    title: {
        text: 'Taxa de Ocupação de UTI e Enfermaria dos últimos 14 dias'
    },
    subtitle: {
        text: 'Fonte: IntegraSus'
    },
    xAxis: {
        categories: {{graficos[0]|safe}}
    },
    yAxis: {
        title: {
            text: 'Percentual (%)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            enableMouseTracking: true
        }
    },
    annotations: [
        {
            draggable: '',
            labelOptions: {
                backgroundColor: 'rgba(255,255,255,0.5)',
                verticalAlign: 'top',
                y: 15
            },
        labels: [
            {
                point: {
                    xAxis: 0,
                    yAxis: 0,
                    x: 10,
                    y: 15
                },
                text: 'Teste'
            }
        ]
    }],
    series: [
        {
            name: 'UTI',
            data: {{graficos[1]}},
            color: '#E7142D',
            dataLabels: {
                enabled: true
            }
        },
        {
            name: 'Enfermaria',
            data: {{graficos[3]}},
            color: '#FF8033',
            dataLabels: {
                enabled: true
            }
        },
        {
            name: 'Tendencia UTI',
            data: {{tendencia_uti}},
            dashStyle: 'shortdot',
            color: '#000000',
            type: 'line',
            marker: {
                enabled: false
            }
        },
        {
            name: 'Tendencia Enfermaria',
            data: {{tendencia_enfermaria}},
            dashStyle: 'shortdash',
            color: '#818080',
            type: 'line',
            marker: {
                enabled: false
            }
        }
    ]
});

</script>
<hr>
<figure class="highcharts-figure">
    <div id="container2"></div>
</figure>
<script>

Highcharts.chart('container2', {
    chart: {
        type: 'spline'
    },
    title: {
        text: 'Média Móvel de confirmações dos últimos 14 dias'
    },
    subtitle: {
        text: 'Fonte: IntegraSus'
    },
    xAxis: {
        categories: {{graficos[6]|safe}}
    },
    yAxis: {
        title: {
            text: 'Média Móvel'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            enableMouseTracking: true
        }
    },
    annotations: [
        {
            draggable: '',
            labelOptions: {
                backgroundColor: 'rgba(255,255,255,0.5)',
                verticalAlign: 'top',
                y: 15
            },
        labels: [
            {
                point: {
                    xAxis: 0,
                    yAxis: 0,
                    x: 10,
                    y: 15
                },
                text: 'Teste'
            }
        ]
    }],
    series: [
        {
            name: 'Confirmações',
            data: {{graficos[7]}},
            color: '#E7142D',
            dataLabels: {
                enabled: true
            }
        },
        
        {
            name: 'Tendencia Confirmações',
            data: {{tendencia_confirmacao}},
            dashStyle: 'shortdot',
            color: '#000000',
            type: 'line',
            marker: {
                enabled: false
            }
        }
    ]
});

</script>

<hr>
<figure class="highcharts-figure">
    <div id="container3"></div>
</figure>
<script>

Highcharts.chart('container3', {
    chart: {
        type: 'spline'
    },
    title: {
        text: 'Média Móvel de óbitos dos últimos 14 dias'
    },
    subtitle: {
        text: 'Fonte: IntegraSus'
    },
    xAxis: {
        categories: {{graficos[6]|safe}}
    },
    yAxis: {
        title: {
            text: 'Média Móvel'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            enableMouseTracking: true
        }
    },
    annotations: [
        {
            draggable: '',
            labelOptions: {
                backgroundColor: 'rgba(255,255,255,0.5)',
                verticalAlign: 'top',
                y: 15
            },
        labels: [
            {
                point: {
                    xAxis: 0,
                    yAxis: 0,
                    x: 10,
                    y: 15
                },
                text: 'Teste'
            }
        ]
    }],
    series: [
       
        {
            name: 'Óbitos',
            data: {{graficos[8]}},
            color: '#FF8033',
            dataLabels: {
                enabled: true
            }
        },
        
        {
            name: 'Tendencia Óbitos',
            data: {{tendencia_obitos}},
            dashStyle: 'shortdash',
            color: '#818080',
            type: 'line',
            marker: {
                enabled: false
            }
        }
    ]
});

</script>

</body>
